@import url(./global/global.css);
@import url(./global/header.css);
@import url(./home/introducao.css);
@import url(./utilidades/componentes.css);

/* Variaveis */
:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c5: #b2b2b2;
  --w: #ffffff;

  --p5: #332200;
  --p1: #ffbb00;
}


